{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-debugger" : 1,
    "comma-dangle": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "import/prefer-default-export": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-param-reassign": 0,
    "no-restricted-properties": 0,
    "object-curly-spacing": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prefer-stateless-function": 0,
    "react/sort-comp": 0,
    "react/prop-types": 0,

    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,

    "react/default-props-match-prop-types": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-wrap-multilines": 0,
  }
}
