{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-styled-components",
    "stylelint-config-recommended",
  ],
  "plugins": ["stylelint-declaration-use-variable"],
  "rules": {
    "block-no-empty": null,
    "color-named": "never",
    "color-no-hex": true,
    "function-blacklist": ["/^rgb/", "/^hsl/"],
    "no-empty-source": null,
    "no-duplicate-selectors": null,
    "property-no-vendor-prefix": [true, {
      "ignoreProperties": ["tab-size", "hyphens"],
    }],
    "selector-type-no-unknown": null,
    "sh-waqar/declaration-use-variable": [[
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-left-radius",
      "border-bottom-right-radius",
      "font-family",
      "font-size",
      "z-index"
    ]],
  },
}
