version: '2'
services:
  probe:
    image: weaveworks/scope:1.11.3
    network_mode: "host"
    pid: "host"
    privileged: true
    labels:
      - "works.weave.role=system"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
    command:
      - "--probe.docker=true"
      - "--service-token=${SCOPE_SERVICE_TOKEN}"
