# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vagrant
releases
tmp

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
.DS_Store

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
profile.cov
coverage.html

# Emacs backup files
*~

# ctags files
tags

# Project specific
.*.uptodate
.uptodate
scope.tar
.pkg
prog/scope
docker/scope
docker/docker.tgz
docker/docker
docker/weave
docker/weaveutil
docker/runsvinit
extras/fixprobe/fixprobe
extras/fixprobe/*.json
*sublime-project
*sublime-workspace
*npm-debug.log
app/static.go
vendor/github.com/ugorji/go/codec/codecgen/bin/*
*.codecgen.go
client/build-external/*
prog/staticui/*
prog/externalui/*
client/build-pkg
