@import "../../node_modules/bootstrap/less/bootstrap";
@import "../../bower_components/bootstrap-material-design/less/material.less";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@primary-color: #445566;
@background-color: white;
@background-secondary-color: lighten(@primary-color, 60%);
@text-color: @primary-color;
@text-secondary-color: lighten(@primary-color, 33%);
@text-pale-color: lighten(@primary-color, 50%);
@text-darker-color: darken(@primary-color, 33%);
@lighter-color: lighten(@primary-color, 10%);
@cello-orange: #D65906;

html, body {
}

.wrap {
}


/* Space out content a bit */
body {
    background-color: @background-color;
    color: @text-color;
    line-height: 150%;
}

@media (min-width: 1400px) {
    .container {
        width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1510px;
    }
}

@media (min-width: 2000px) {
    .container {
        width: 1820px;
    }
}

@media (min-width: 2400px) {
    .container {
        width: 2160px;
    }
}

.btn:hover:not(.btn-link):not(.btn-flat) {
    .shadow-z-2();
}


#logo {
    margin: 16px 0 0 32px;
    height: 71px;
    width: 71px;

    .logo {
        path {
            fill: @text-secondary-color;
        }
    }

}

#view-options {
    position: absolute;
    top: 93px;
    left: 32px;

    .btn {
        padding: 4px 16px;
        color: @text-secondary-color;

        &.selected {
            color: @text-color;
        }
    }
}

#app {
    position: relative;
}

.navbar {
    .shadow-z-1();
    background-color: @background-secondary-color;

    .navbar-nav {
        width: 100%;
        z-index: 100;
        .shadow-z-3();
        position: absolute;
        top: 112px;
        left: 0;
        background-color: @background-secondary-color;
        margin-left: -40px;
        margin-right: -40px;
        width: 240px;

        > li {
            float: none;

            > a {
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;
            }

            &.active, &:hover {
                .nav-item-label {
                    color: @text-color;
                }

            }
        }
    }

    .nav-item-label {
        padding-top: 8px;
        font-size: 16px;
        text-align: left;
        color: @text-secondary-color;
    }

}

.navbar-brand {
    padding: 2px 24px;
}

.navbar-view-options,
.navbar-topology {
    float: left;
    position: relative;
    text-align: center;    

    .nav-preview {
        margin-top: 16px;
        margin-bottom: 12px;
        margin-left: 12px;
        margin-right: 12px;
        cursor: pointer;
        display: inline-block;
        width: 120px;

        .nav-label {
            color: @text-secondary-color;
            font-size: 16px;
            padding-top: 4px;
            margin-top: 4px;
            border-top: 2px solid @text-secondary-color;
        }

        &.nav-active .nav-label {
            color: @text-color;
            border-top: 2px solid @primary-color;
        }
    }

}

.navbar-view-options {

    .nav-preview {
        .nav-icon {
            font-size: 36px;
            height: 64px;
            width: 64px;
            display: inline-block;
            padding-top: 12px;
            color: @text-secondary-color;
        }
    }

    .nav-item-label {
        padding-top: 8px;
    }

    .nav-item-preview {
        font-size: 36px;
        color: @text-secondary-color;
    }

}

.navbar-topology {

    .nav-topology {
        &-frame {
            display: inline-block;
            width: 64px;
            height: 64px;
            padding-top: 4px;
        }

        &-nodes,
        &-edges,
        &-divider {
            display: block;
            line-height: 28px;
            font-size: 24px;
            color: @text-secondary-color;
        }

    }

    .nav-item-topology {

        > a {
            .row();
            padding: 8px 0;
        }

        &-frame {
            // display: inline-block;
            text-align: right;
            padding-top: 4px;
        }

        &-nodes,
        &-edges,
        &-divider {
            display: block;
            line-height: 16px;
            font-size: 12px;
            color: @text-secondary-color;
        }
    }

}

#stats {
    .row;

    .stat-value {
        text-align: center;
        padding-top: 15px;
    }

    .value {
        font-size: 36px;
        display: block;
    }
    .stat-label {
        position: relative;
        top: 4px;
        color: @text-secondary-color;
        text-transform: uppercase;
        font-weight: normal;
    }
}

#search-bar {
    .shadow-z-1();
    margin-top: -64px;
    margin-bottom: 32px;
    padding: 96px 24px 16px 24px;

    .checkbox {
        margin-top: 0;
    }

    .form-group .material-input:before {
        background-color: @cello-orange;
    }
}

.adjacency {
    > table > tbody > tr > td {
        border-top: none;
    }

    > table > thead > tr > th {
        padding: 16px 20px;
        font-size: 12px;
        font-weight: normal;
        color: @text-secondary-color;
        border-bottom: none;
    }

    tr.adjacency-group-first-row {
        border-top: 2px solid @text-secondary-color;
    }


    .node {
        display: inline-block;
        cursor: pointer;
        padding: 4px 8px;
        text-transform: none;
        margin: 4px;

        .major {
        }
        .minor {
            margin-left: 0.5em;
            font-size: 85%;
            color: @text-secondary-color;
        }

        &.non-adjacent {
            opacity: 0.3;
            .major {
            }
            .minor {
            }
        }

        &:hover {
            opacity: 1.0;
            .major {
                color: @text-darker-color;
            }
            .minor {
                color: @text-color;
            }
        }
    }

}


.adjacent-nodes {
}

.adjacent-nodes, .adjacent-node {
    display: inline-block;
}

.highlight-filter {
    border: 1px solid @text-color;
    border-radius: 3px;
}

.checkbox label span {
    position: static;
    display: inline;
}


#adjacency-preview,
#nodes-preview,
#chord-preview,
#matrix-preview {
    .circle circle {
        fill: none;
        pointer-events: all;
    }
    .background {
        fill: #eee;
    }
    .graph {
        width: 64px;
        height: 64px;
        border: 1px solid @text-secondary-color;
        margin: 0 auto;
    }
}

#chord {
    text-align: center;

    text {
        font: 12px sans-serif;
        fill: @text-color;
    }

    .circle circle {
        fill: none;
        pointer-events: all;
    }

    .group path {
        fill-opacity: .5;
    }

    path.chord {
        stroke: #000;
        stroke-width: .25px;
    }

    .circle:hover path.fade {
        display: none;
    }    
}

#explorer,
#nodes {
    position: relative;

    text {
        font: 12px sans-serif;
        fill: @text-color;
    }

    g.node {
        cursor: pointer;
    }

    .link {
      stroke: @text-secondary-color;
      stroke-width: 1.5px;
      fill: none;
    }

    circle.border {
        stroke: @text-pale-color;
        stroke-width: 1px;
        fill: white;
    }

    circle.shadow {
        fill: @background-secondary-color;
        fill-opacity: 0.8;
    }

    circle.node {
      fill: @text-color;
    }

    g.node.highlighted {
        circle.border {
            stroke: @cello-orange;
        }
    }
}

#nodes-preview {
    text,
    circle.border,
    circle.shadow,
    .link {
        display: none;
    }
    circle.node {
      fill: @text-color;
    }
}

#nodes-layouts {
    position: absolute;
    left: 24px;
    top: 24px;

    .btn.active {
        background-color: @background-secondary-color;
    }
}

#matrix {
    text-align: center;
    margin-top: 24px;

    .graph {
        margin: 0 auto;
        padding-top: 56px;
        padding-left: 216px;
    }

    svg {
        overflow: visible;
    }

    .matrix-grid {
        stroke: #fff;
    }

    .matrix-label-line {
        stroke: @text-secondary-color;
    }

    text {
        font: 10px sans-serif;

        .major {
            fill: @text-color;
        }

        .minor {
            fill: @text-secondary-color;
        }

        .direction {
            text-transform: uppercase;
            fill: @text-pale-color;
        }
    }

    .background {
        fill: #eee;
    }
}

#details {
    position: fixed;
    z-index: 1024;
    display: block;
    right: 36px;
    top: 24px;
    bottom: 48px;
    left: 36px;
    .shadow-z-4();
    background-color: #fff;

    .graph {
        height: 100%;
    }

    .node-details-metrics {
        margin-top: 24px;
    }

    .node-details-metric-label {
        margin-right: 0.5em;
    }

    .node-detail-view-label {
        .glyphicon {
            margin-left: 0.5em;
        }
    }

}

#node-details {
    position: absolute;
    top: 24px;
    left: 24px;
}
