version: 2.1
jobs:
  build:
    machine: true
    steps:
      - run: "echo skip"

workflows:
  version: 2
  ignore:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
