/* Theme colors */
$color-white: #fff;
$color-black: #000;
$color-lightgray: #f8f8f8;
$color-kimberly-dark: #656597;
$color-weaveblue: #00d2ff;
$color-primary-charcoal: #32324b;
$color-japanese-laurel: #008000;
