/* Theme colors */
$color-white: #fff;
$color-black: #000;
$color-lightgray: #f8f8f8;
$color-kimberly-dark: #656597;
$color-weaveblue: #00d2ff;
$color-primary-charcoal: #32324b;
$color-japanese-laurel: #008000;
$color-silver: #ccc;
$color-lavender: #8383ac;
$color-gray: #aaa;
$color-gallery: #eee;
$color-athens-gray: #eeeef4;
$color-alabaster: #fcfcfc;
$color-dim-gray: #666;
/* New theme colors */
$color-athens-gray-dark: #e9e9f1;
$color-red-berry: #8b0000;
$color-olivine: #a0be7e;
$color-link-water: #d7ecf5;
