@import "variables";

$background-color: $color-white;
$background-lighter-color: $color-white;
$background-darker-color: $color-blue-haze;
$background-darker-secondary-color: $color-blue-haze;
$background-dark-color: $color-primary-charcoal;
$text-color: $color-black;
$text-secondary-color: $color-neutral-black;
$text-tertiary-color: $color-tundora;
$border-light-color: $color-solid-gray;
$text-darker-color: $color-black;
$edge-color: $color-black;

$node-elements-in-background-opacity: 0.4;

$node-highlight-shadow-opacity: 0.4;
$node-highlight-stroke-opacity: 0.5;
$node-highlight-stroke-width: 0.16;
$node-border-stroke-width: 0.2;
$node-shadow-stroke-width: 0.25;
$node-pseudo-opacity: 1;
$edge-highlight-opacity: 0.3;
$edge-opacity-blurred: 0;

$btn-opacity-default: 1;
$btn-opacity-hover: 1;
$btn-opacity-selected: 1;
$btn-opacity-disabled: 0.4;

$link-opacity-default: 1;

$search-border-color: $color-blue-haze;
$search-border-width: 2px;

/* specific elements */
$body-background-color: $color-white;
$label-background-color: $color-white;
