$fa-font-path: "~font-awesome/fonts";
$base-font: "Roboto", sans-serif;
$mono-font: "Menlo", "DejaVu Sans Mono", "Liberation Mono", monospace;

$base-ease: ease-in-out;

$background-color: $color-lightgray;
$background-lighter-color: $color-white;
$background-darker-color: $color-silver;
$background-darker-secondary-color: $color-mercury;
$background-dark-color: $color-primary-charcoal;
$text-color: $color-gunpowder;
$text-secondary-color: $color-comet;
$text-tertiary-color: $color-primary-lavender;
$border-light-color: $color-mischka;
$text-darker-color: $color-primary-charcoal;

$details-window-width: 420px;
$details-window-padding-left: 30px;
$border-radius: 4px;

$terminal-header-height: 44px;

$node-elements-in-background-opacity: 0.7;

$node-highlight-shadow-opacity: 0.5;
$node-highlight-stroke-opacity: 0.4;
$node-highlight-stroke-width: 0.04;
$node-border-stroke-width: 0.12;
$node-shadow-stroke-width: 0.18;
$node-pseudo-opacity: 0.8;
$node-text-scale: 2;
$edge-highlight-opacity: 0.1;
$edge-opacity-blurred: 0.2;
$edge-opacity: 0.5;
$edge-color: $color-kimberly-dark;

$btn-opacity-default: 0.7;
$btn-opacity-hover: 1;
$btn-opacity-selected: 0.9;
$btn-opacity-disabled: 0.25;

$link-opacity-default: 0.8;

$search-border-color: transparent;
$search-border-width: 1px;

$timeline-height: 55px;

/* specific elements */
$body-background-color: $color-lightgray;
$label-background-color: transparentize($color-lightgray, 0.3);
