$base-ease: ease-in-out;

$background-color: $color-gray-50;
$background-lighter-color: $color-white;
$background-darker-color: $color-purple-100;
$background-darker-secondary-color: $color-gray-50;
$background-dark-color: $color-purple-900;
$text-color: $color-purple-800;
$text-secondary-color: $color-purple-600;
$text-tertiary-color: $color-purple-400;
$border-light-color: $color-purple-100;
$text-darker-color: $color-purple-900;

$details-window-width: 420px;
$details-window-padding-left: 30px;

$terminal-header-height: 44px;

$node-elements-in-background-opacity: 0.7;

$node-highlight-shadow-opacity: 0.5;
$node-highlight-stroke-opacity: 0.4;
$node-highlight-stroke-width: 0.04;
$node-border-stroke-width: 0.12;
$node-shadow-stroke-width: 0.18;
$node-pseudo-opacity: 0.8;
$node-text-scale: 2;
$edge-highlight-opacity: 0.1;
$edge-opacity-blurred: 0.2;
$edge-opacity: 0.5;
$edge-color: $color-purple-500;

$btn-opacity-default: 0.9;
$btn-opacity-hover: 1;
$btn-opacity-selected: 0.9;
$btn-opacity-disabled: 0.25;

$link-opacity-default: 0.8;

$search-border-color: transparent;
$search-border-width: 1px;

$timeline-height: 55px;

/* specific elements */
$body-background-color: $color-purple-25;
$label-background-color: transparentize($color-purple-25, 0.3);
